$enable-flex: true;

.navbar {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.navbar-avatar {
  overflow: hidden;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-footer{
position:absolute;
  bottom:0;
  width:100%;
}

.card-deck .card{
  padding-bottom:5rem;
  }

.btn-cards {
  width: 100%;
}

@import "bootstrap";
